@use "../abstract/variables" as *;

.contact-page-content{
    background-color: $Cgrey;
    padding-bottom: 1em;
    width: 100%;
    
    .headline{
        color: #fff;
        opacity: 0;
        padding-top: 0.5em;
        margin-bottom: 0.5em;
        height: fit-content;
    }
    
    .headline:first-child{
        animation-name: fade-in;
        animation-delay: 0.5s;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
    }

    .page-form{
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 90%;
        opacity: 0;
        padding-bottom: 6em;
        animation-name: fade-in;
        animation-duration: 0.25s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;

        .form-label{
            color: #e6e6e6;
            margin: 0.5em auto 0.5em 0.5em;
            text-transform: uppercase;
            border-bottom: 1px solid #e6e6e6;;
        }

        .form-input{
            width: 100%;
            padding: 0.5em;
            
        }

        .form-input:last-child{
            resize: none;
        }

        .form-btn{
            padding: 1em 2em;
            border-radius: 20em;
            border: none;
            box-shadow: 0 0 10px grey;
            margin: 2em 0 2em auto;
            cursor: pointer;
            outline: none;
            transition: ease-out .5s;
        }
        
    }

    .visit-card{
        position: relative;
        background-color: $Cyellow;
        color: #fff;
        padding-bottom: 3em;
        margin: -6em auto 0 auto; 
        width: 90%;
        z-index: 5;
        opacity: 0;
        animation-name: fade-in;
        animation-delay: 0.5s;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;

        .headline{
            width: 100%;
            font-size: 2.8rem;
        }
        .card-text{
            margin: 1em auto 1em 1em;
        }
        .card-text:nth-child(2){
            margin-top: -1em;
        }
    }

    .map-image{
        position: relative;
        margin: -6em auto 0 auto;
        width: 100%;
        height: 25em;
        border: none;
        opacity: 0;
        animation-name: fade-in;
        animation-delay: 0.5s;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
    }

    .map-btn{
        display: block;
        padding: 1em 2em;
        border-radius: 20em;
        border: none;
        box-shadow: 0 0 5px grey;
        margin: 2em auto 2em auto;
        cursor: pointer;
        outline: none;
        transition: ease-out .5s;
    }
  

    .form-btn:active{
        box-shadow: 0 0 0 2px;
    }
}

@media screen and (min-width:768px) {
    .contact-page-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 8em;
        .headline{
            flex: 0 0 30%;
            margin: 0;
        }

        .page-form{
            flex: 0 0 30%;
            margin: 0 10em 0 0;
            .form-input:nth-child(4){
                height: 12em;
            }

            .form-btn:hover{
                background-color: $Cyellow;
                color: black;
                scale: 1.2;
            }
        }

        div{
            width: 100%;
            .visit-card{
                margin: 0 0 0 4em;
                width: fit-content;
                padding: 1.5em 1.5em 5em 1.5em;
                .headline,
                .card-text{
                    margin: 0;
                    padding: 0;
                    line-height: 3ch;
                }
            }
            .map-image{
                margin: -18em 0 0 0;
                height: 30em;
            }
            
        }

        .map-btn:hover{
            background-color:$Cyellow;
            color: black;
            scale: 1.2;
        }
    }
}