.page-wrapper {
  width: 100%;
}

.page-info {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.page-info .info-header .info-title {
  margin: 0.8em auto 0.8em 0.05em;
  line-height: 1.7ch;
}
.page-info .info-header .info-text {
  margin: 0.5em 0.7em;
}
.page-info .info-header .info-join-btn {
  display: none;
}
.page-info .info-header .info-join-btn a {
  text-decoration: none;
  color: black;
}
.page-info .info-header .info-title {
  color: #fff;
}

.page-about-us,
.page-cards,
.info-header {
  flex: 0 0 100%;
}

.page-about-us {
  background-color: #FAB131;
  opacity: 0;
  -webkit-animation-name: fade-in-top;
          animation-name: fade-in-top;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.page-cards,
.info-header {
  background-color: #A9A19E;
}

.page-cards {
  width: 100%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 5em auto;
  background-color: #fff;
  width: 75%;
  border-radius: 5%;
  box-shadow: 0 0 20px grey;
  text-align: center;
}
.card .card-img-container {
  width: 90%;
  height: 10em;
  margin: -2em auto 2em auto;
  border-radius: 2%;
  background-color: #FAB131;
  overflow: hidden;
}
.card .card-img-container .card-img {
  display: block;
  background-color: transparent;
  width: 40%;
  padding-top: 0.5em;
  margin: auto auto -2em auto;
}
.card .card-title {
  margin: 1em auto;
}
.card .card-text {
  margin: 0 2em 2em 2em;
  opacity: 0.6;
}

.card:nth-child(1) .card-img-container {
  background-color: #C7DDEA;
}

.card:nth-child(3) .card-img-container {
  background-color: #F17949;
}

.page-about-us {
  text-align: center;
}
.page-about-us .about-title {
  margin-top: 0.8em;
  color: #fff;
}
.page-about-us .subheadline {
  margin: 2em;
}
.page-about-us .subheadline:last-child {
  margin-bottom: 5em;
}

.page-boxes {
  display: flex;
  flex-wrap: wrap;
}
.page-boxes .box {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  height: 9em;
}
.page-boxes .box .box-text {
  text-align: center;
  margin: 1em auto 2em auto;
  width: 70%;
  color: rgb(66, 66, 66);
}
.page-boxes .box:first-child {
  background-color: #C7DDEA;
}
.page-boxes .box:first-child .box-title {
  text-align: center;
  margin: auto 0;
  width: 50%;
}
.page-boxes .box:not(:first-child) .box-title {
  align-self: flex-start;
  margin: 0.5em auto 0 0.5em;
  color: #747474;
}
.page-boxes .box:nth-child(3) {
  background-color: #f6f6f6;
}
.page-boxes .box:nth-child(3) .box-text:nth-child(2) {
  margin-bottom: 0;
}
.page-boxes .box:nth-child(3) .box-text:last-child {
  margin-top: 0;
}
.page-boxes .box:nth-child(5) {
  background-color: #F17949;
}

.page-footer {
  background-color: #A9A19E;
  height: 10em;
  margin-bottom: 2em;
}
.page-footer .take-me-up {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    width: 100%;
  }
  .page-wrapper .page-info {
    background-image: linear-gradient(to bottom, #A9A19E 0%, #A9A19E 49.9%, #FAB131 50%, #FAB131 100%);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .page-wrapper .page-info .info-header {
    background-color: transparent;
    display: flex;
    width: 100%;
    margin: 5em auto 0 auto;
    -webkit-animation-name: fade-in;
            animation-name: fade-in;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  .page-wrapper .page-info .info-header .info-container {
    margin: 5em auto 2em 15%;
    flex: 0 0 30%;
  }
  .page-wrapper .page-info .info-header .info-container .info-title {
    width: 100%;
    margin-top: 0;
  }
  .page-wrapper .page-info .info-header .info-container .info-join-btn {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fff;
    margin: 6em 0 0 1.5em;
    padding: 1.5em 5em;
    border-radius: 9999px;
    box-shadow: 0.1em 0.1em 0.2em;
    border: none;
    font-size: 0.8rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    transition: ease-out 0.5s;
  }
  .page-wrapper .page-info .info-header .info-container .info-join-btn:hover {
    background-color: #FAB131;
    scale: 1.2;
  }
  .page-wrapper .page-info .info-header .info-text {
    flex: 0 0 21%;
    font-size: 1rem;
    margin: 5.5em 18% 2em auto;
    height: 278px;
  }
  .page-wrapper .page-info .page-cards {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
  }
  .page-wrapper .page-info .page-cards .card {
    flex: 0 0 25%;
    width: 33%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
    margin: 0em 0.5em;
    -webkit-animation-name: fade-in;
            animation-name: fade-in;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
  }
  .page-wrapper .page-info .page-cards .card .card-img-container {
    height: 13em;
  }
  .page-wrapper .page-info .page-cards .card .card-img-container .card-img {
    padding: 1em 0 0 0;
    width: 33%;
  }
  .page-wrapper .page-info .page-cards .card .card-title {
    margin: 0 auto 1em auto;
  }
  .page-wrapper .page-info .page-cards .card .card-text {
    margin: 0 auto 3em auto;
  }
  .page-wrapper .page-info .page-cards .card:nth-child(3) .card-img-container .card-img {
    width: 50%;
  }
  .page-wrapper .page-info .page-about-us {
    display: block;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
  }
  .page-wrapper .page-info .page-about-us * {
    margin: 1em auto;
  }
  .page-wrapper .page-info .page-about-us .subheadline {
    width: 50%;
  }
  .page-wrapper .page-info .page-about-us .subheadline:last-child {
    margin-bottom: 10em;
  }
  .page-wrapper .page-boxes .box {
    flex: 1 0 33%;
    height: 20em;
  }
  .page-wrapper .page-boxes .box .box-text {
    font-size: 1.5rem;
    margin: auto 0;
  }
  .page-wrapper .page-footer .take-me-up {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .page-wrapper .page-footer .take-me-up p:first-child {
    font-size: 2rem;
    flex: 0 0 100%;
    margin: 0 0 -1em 0;
  }
  .page-wrapper .page-footer .take-me-up p {
    color: black;
    line-height: 1ch;
    margin: 0 0 4em 0;
  }
  .page-wrapper .page-footer:hover {
    background-color: grey;
  }
}
.contact-page-content {
  background-color: #A9A19E;
  padding-bottom: 1em;
  width: 100%;
}
.contact-page-content .headline {
  color: #fff;
  opacity: 0;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.contact-page-content .headline:first-child {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.contact-page-content .page-form {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 90%;
  opacity: 0;
  padding-bottom: 6em;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.contact-page-content .page-form .form-label {
  color: #e6e6e6;
  margin: 0.5em auto 0.5em 0.5em;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}
.contact-page-content .page-form .form-input {
  width: 100%;
  padding: 0.5em;
}
.contact-page-content .page-form .form-input:last-child {
  resize: none;
}
.contact-page-content .page-form .form-btn {
  padding: 1em 2em;
  border-radius: 20em;
  border: none;
  box-shadow: 0 0 10px grey;
  margin: 2em 0 2em auto;
  cursor: pointer;
  outline: none;
  transition: ease-out 0.5s;
}
.contact-page-content .visit-card {
  position: relative;
  background-color: #FAB131;
  color: #fff;
  padding-bottom: 3em;
  margin: -6em auto 0 auto;
  width: 90%;
  z-index: 5;
  opacity: 0;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.contact-page-content .visit-card .headline {
  width: 100%;
  font-size: 2.8rem;
}
.contact-page-content .visit-card .card-text {
  margin: 1em auto 1em 1em;
}
.contact-page-content .visit-card .card-text:nth-child(2) {
  margin-top: -1em;
}
.contact-page-content .map-image {
  position: relative;
  margin: -6em auto 0 auto;
  width: 100%;
  height: 25em;
  border: none;
  opacity: 0;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.contact-page-content .map-btn {
  display: block;
  padding: 1em 2em;
  border-radius: 20em;
  border: none;
  box-shadow: 0 0 5px grey;
  margin: 2em auto 2em auto;
  cursor: pointer;
  outline: none;
  transition: ease-out 0.5s;
}
.contact-page-content .form-btn:active {
  box-shadow: 0 0 0 2px;
}

@media screen and (min-width: 768px) {
  .contact-page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 8em;
  }
  .contact-page-content .headline {
    flex: 0 0 30%;
    margin: 0;
  }
  .contact-page-content .page-form {
    flex: 0 0 30%;
    margin: 0 10em 0 0;
  }
  .contact-page-content .page-form .form-input:nth-child(4) {
    height: 12em;
  }
  .contact-page-content .page-form .form-btn:hover {
    background-color: #FAB131;
    color: black;
    scale: 1.2;
  }
  .contact-page-content div {
    width: 100%;
  }
  .contact-page-content div .visit-card {
    margin: 0 0 0 4em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.5em 1.5em 5em 1.5em;
  }
  .contact-page-content div .visit-card .headline,
.contact-page-content div .visit-card .card-text {
    margin: 0;
    padding: 0;
    line-height: 3ch;
  }
  .contact-page-content div .map-image {
    margin: -18em 0 0 0;
    height: 30em;
  }
  .contact-page-content .map-btn:hover {
    background-color: #FAB131;
    color: black;
    scale: 1.2;
  }
}
.page-header {
  background-color: #C7DDEA;
}

.header-wrapper {
  margin-top: -2em;
  padding-top: 5em;
}

.header-container:first-child {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header-subcontainer:first-child .subcontainer-link {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header-subcontainer:last-child .subcontainer-link {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.join-btn {
  margin: 4em 0em 0em 0.67em;
  background-color: #fff;
  padding: 1em 3em;
  border-radius: 9999px;
  box-shadow: 0.1em 0.1em 0.2em;
  border: none;
  transition: ease-out 0.5s;
  outline: none;
}

.join-btn a {
  text-decoration: none;
  color: black;
}

.img-family {
  margin-top: 3em;
  margin-bottom: -0.3em;
  width: 100%;
}

.header-subcontainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 20em;
  flex-direction: column;
  line-height: 2.5em;
}

.subcontainer-link {
  text-decoration: none;
}

.subcontainer-orange {
  background-color: #F17949;
}

.subcontainer-yellow {
  background-color: #FAB131;
}

.nav-list .list-item:nth-child(1) a,
.nav-list .list-item:nth-child(2) a,
.nav-list .list-item:nth-child(3) a,
.nav-list .list-item:nth-child(4) a {
  opacity: 0;
  -webkit-animation-name: pop-up;
          animation-name: pop-up;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}
.nav-list .list-item:nth-child(2) a {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.nav-list .list-item:nth-child(3) a {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.nav-list .list-item:nth-child(4) a {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
@-webkit-keyframes pop-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pop-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-nav {
  position: relative;
}
.page-nav .nav-list {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
  list-style: none;
}
.page-nav .nav-list .list-item {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  color: rgb(107, 107, 107);
  display: flex;
  background-color: #fff;
  height: 4em;
  vertical-align: middle;
}
.page-nav .nav-list .list-item a {
  text-decoration: none;
  margin: auto;
  color: rgb(107, 107, 107);
}
.page-nav .nav-list .list-item:hover {
  background-color: rgb(231, 231, 231);
  transition: ease-out 0.3s;
}
.page-nav .nav-list .list-item:active {
  background-color: lightgrey;
  color: black;
}

.contact-page-header {
  background-color: #C7DDEA;
}
.contact-page-header .page-header-main {
  position: relative;
  padding-top: 2em;
  display: flex;
  height: 20em;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.contact-page-header .page-header-main .contact-headline {
  font-size: 3rem;
  width: 4em;
  margin-top: 1.5em;
  margin-left: 0em;
}
.contact-page-header .page-header-main .header-img {
  right: 0;
  position: absolute;
  margin-right: 0.3em;
}

.contact-page-nav .nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  list-style: none;
}
.contact-page-nav .nav-list .list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  color: rgb(107, 107, 107);
  background-color: #fff;
  height: 4em;
  vertical-align: middle;
}
.contact-page-nav .nav-list .list-item a {
  text-decoration: none;
  color: rgb(107, 107, 107);
}
.contact-page-nav .nav-list .list-item:active {
  background-color: lightgrey;
  color: black;
}

@media screen and (min-width: 768px) {
  .page-header .header-wrapper {
    display: flex;
    padding: 0;
  }
  .page-header .header-wrapper .header-container {
    position: relative;
    flex: 0 0 50%;
    padding-top: 2em;
    overflow: hidden;
  }
  .page-header .header-wrapper .header-container .img-family {
    position: absolute;
    width: 50%;
    right: 2em;
    bottom: 0.2em;
  }
  .page-header .page-nav {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 10px;
    width: 100%;
    background-color: #fff;
  }
  .page-header .page-nav .nav-list {
    position: static;
    display: flex;
    justify-content: center;
  }
  .page-header .page-nav .nav-list .list-item {
    width: 15%;
  }
  .headline {
    margin-top: 1.2em;
    margin-left: 2.5em;
    width: 10em;
  }
  .subheadline {
    width: 19.5em;
    margin-left: 9em;
    word-wrap: break-word;
  }
  .join-btn {
    position: relative;
    margin: 5em 1em 0em 15em;
    background-color: #fff;
    padding: 1.8em 6em;
    border-radius: 9999px;
    box-shadow: 0.1em 0.1em 0.2em;
    border: none;
    z-index: 5;
  }
  .join-btn:hover {
    background-color: #FAB131;
    scale: 1.1;
  }
  .header-subcontainer {
    height: 24em;
  }
  .contact-page-header {
    padding: 5em 0 0 0;
  }
  .page-header-main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0em;
  }
  .page-header-main .contact-headline {
    margin-top: 0;
    padding-bottom: 2em;
    flex: 0 1 35%;
    margin-right: -5em;
  }
  .page-header-main .header-img {
    position: static;
    flex: 0 0 10%;
    margin-left: 15em;
  }
  .contact-page-nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-page-nav .nav-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-page-nav .nav-list .list-item {
    font-weight: 600;
    flex: 0 0 20%;
  }
  .contact-page-nav .nav-list .list-item:hover {
    background-color: rgb(231, 231, 231);
    transition: ease-out 0.3s;
  }
  .contact-page-header .page-header-main .header-img {
    position: static;
  }
}
.headline {
  font-size: 3rem;
  padding: 0 0em 0 0.3em;
}

.subheadline {
  padding: 0 0.8em 0 0.8em;
  font-size: 0.85rem;
  letter-spacing: 0.02em;
  line-height: 1.7em;
  font-family: "Fira Sans", sans-serif, Arial, Helvetica;
  color: rgba(54, 54, 54, 0.781);
}

.subheadline span {
  color: #fff;
}

.join-btn {
  font-size: 0.8rem;
  font-family: "Fira Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.subcontainer-paragraf {
  font-family: "Fira Sans", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  color: rgba(61, 22, 0, 0.767);
}

.subcontainer-headline {
  font-size: 3rem;
  color: #fff;
}

.contact-headline {
  margin-top: 1.5em;
  font-weight: 800;
  width: 4em;
  padding: 0 0em 0 0.3em;
}

.form-label {
  font-family: "Fira Sans", sans-serif, Arial, Helvetica;
}

.form-input {
  font-family: "Fira Sans", sans-serif, Arial, Helvetica;
}

.form-btn {
  font-family: "Fira Sans", sans-serif, Arial, Helvetica;
}

.map-btn {
  font-family: "Fira Sans", sans-serif, Arial, Helvetica;
}

@media screen and (min-width: 768px) {
  .headline {
    font-size: 4rem;
    padding: 0 0em 0 0.3em;
  }
  .subheadline {
    padding: 0 0.8em 0 0.8em;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    line-height: 1.7em;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: rgba(54, 54, 54, 0.781);
  }
  .subcontainer-paragraf {
    font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  font-family: "Frank Ruhl Libre", serif;
}/*# sourceMappingURL=main.css.map */