@use "../abstract/variables" as *;

.page-header{
    background-color: $Clightblue;
}

.header-wrapper{
    // margin: 0 .8em 0 .8em;
    margin-top: -2em;
    padding-top: 5em;
}

.header-container:first-child{
    animation-name: fade-in;
    animation-duration: 1s;
}

.header-subcontainer:first-child .subcontainer-link{
    animation-name: fade-in;
    animation-duration: 2s;
}

.header-subcontainer:last-child .subcontainer-link{
    animation-name: fade-in;
    animation-duration: 3s;
}

@keyframes fade-in {
    0%{opacity: 0; transform: translateX(-75px);}
    100%{opacity: 1; transform: translateX(0px);}
}

@keyframes fade-in-top{
    0%{ opacity: 0; transform: translateY(-75px);}
    100%{ opacity: 1; transform: translateX(0px);}
}

.join-btn{
    margin: 4em 0em 0em 0.67em;
    background-color: #fff;
    padding: 1em 3em;
    border-radius: 9999px;
    box-shadow: .1em .1em .2em;
    border: none;
    transition: ease-out .5s;
    outline: none;
}

.join-btn a {
    text-decoration: none;
    color: black;
}

  
.img-family{
    margin-top: 3em;
    margin-bottom: -.3em;
    width: 100%;
}

.header-subcontainer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 20em;
    flex-direction: column;
    line-height: 2.5em;
}

.subcontainer-link{
    text-decoration: none;
}


.subcontainer-orange{
    background-color: $Corange;
    
}

.subcontainer-yellow{
    background-color: $Cyellow;   
}

.nav-list{
    .list-item:nth-child(1) a,
    .list-item:nth-child(2) a,
    .list-item:nth-child(3) a,
    .list-item:nth-child(4) a{
        opacity: 0;
        animation-name: pop-up;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-duration: 0.75s;
    }

    .list-item:nth-child(2) a{
        animation-delay: 0.25s;
    }
    .list-item:nth-child(3) a{
        animation-delay: 0.5s;
    }
    .list-item:nth-child(4) a{
        animation-delay: 0.75s;
        
    }

    @keyframes pop-up {
        from{opacity: 0; transform: translateY(10px);}
        to{opacity: 1; transform: translateY(0);}
    }
}

.page-nav{
    position: relative;

    .nav-list{
        position: fixed;
        bottom: 0;
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        width: 100%;
        list-style: none;

        .list-item{
            font-family: 'Fira Sans', sans-serif;
            font-weight: 600;
            color: rgb(107, 107, 107);
            display: flex;
            background-color: #fff;
            height: 4em;
            vertical-align: middle;
            a{
                text-decoration: none;
                margin: auto;
                color: rgb(107, 107, 107);
            }
        }

        .list-item:hover{
            background-color: rgb(231, 231, 231);
            transition: ease-out .3s;
        }

          .list-item:active{
            background-color: lightgrey;
            color: black;
          }
    }

}


// Contact page  

.contact-page-header{
    background-color: $Clightblue;
    .page-header-main{
        position: relative;
        padding-top: 2em ;
        display: flex;
        height: 20em;
        animation-name: fade-in;
        animation-duration: 0.5s;
    
        .contact-headline{
            font-size: 3rem;
            width: 4em;
            margin-top: 1.5em;
            margin-left: 0em;
        }
        
        .header-img{
            right: 0;
            position: absolute;
            margin-right: .3em;
        }
    }
}






// Gäller contact page nav
.contact-page-nav{ 
    .nav-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;

        list-style: none;
        
        .list-item{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 600;
            color: rgb(107, 107, 107);
            background-color: #fff;
            height: 4em;
            vertical-align: middle;
            a{
                text-decoration: none;
                color: rgb(107, 107, 107);
            }
          }
          .list-item:active{
            background-color: lightgrey;
            color: black;
          }
    }
}


// Desktop Home page & Contact desktop

@media screen and (min-width: 768px){
    
    .page-header{
        .header-wrapper{
            display: flex;
            padding: 0;
            .header-container{
                position: relative;
                flex: 0 0 50%;
                padding-top: 2em;
                overflow: hidden;
                .img-family{
                    position: absolute;
                    width: 50%;
                   
                   right: 2em;
                   bottom: 0.2em;
                }
            }
        }
        .page-nav{
            position: sticky;
            display: flex;
            top: 10px;
            width: 100%;
            background-color: #fff;
            .nav-list{
                position: static;
                display: flex;
                justify-content: center;
                .list-item{
                    width: 15%;
                }
            }
        }
    }
    
    
        .headline{
            margin-top: 1.2em;
            margin-left: 2.5em;
            width: 10em;
        }
    
        .subheadline{
            width: 19.5em;
            margin-left: 9em;
            word-wrap: break-word;
        }

        .join-btn{
            position: relative;
            margin: 5em 1em 0em 15em;
            background-color: #fff;
            padding: 1.8em 6em;
            border-radius: 9999px;
            box-shadow: .1em .1em .2em;
            border: none;
            z-index: 5;
        }

        .join-btn:hover{
            background-color:$Cyellow;
            scale: 1.1;
           }
        

        .header-subcontainer{
            height: 24em;
        }

        .contact-page-header{
            padding: 5em 0 0 0;
        }

        .page-header-main{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 0em;
            .contact-headline{
                margin-top: 0;
                padding-bottom: 2em;
                flex: 0 1 35%;
                margin-right: -5em;
            }
    
            .header-img {
                position: static;
                flex: 0 0 10%;
                margin-left: 15em;
            }
        }

        .contact-page-nav{
            width: 100%;
            background-color: #fff;
            display: flex;
               flex-wrap: wrap;
                justify-content: center;
            .nav-list{
                width: 80%;
               display: flex;
               flex-wrap: wrap;
                justify-content: center;
                
                .list-item{
                    font-weight: 600;
                    flex: 0 0 20%;
                }

                .list-item:hover{
                    background-color: rgb(231, 231, 231);
                    transition: ease-out .3s;
                }
            }
        }

        .contact-page-header{
            .page-header-main{
                .header-img{
                    position: static;
                }
            }
        }
}