@use "../abstract/variables" as *;

.headline {
    font-size: 3rem;
    padding: 0 0em 0 .3em;
}


.subheadline{
    padding: 0 .8em 0 .8em;
    font-size: .85rem;
    letter-spacing: .02em;
    line-height: 1.7em;
    font-family: 'Fira Sans', sans-serif, Arial, Helvetica;
    color: rgba(54, 54, 54, 0.781);
}

.subheadline span{
    color: #fff;
}

.join-btn{
    font-size: .8rem;
    font-family: 'Fira Sans', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.subcontainer-paragraf{
    font-family: 'Fira Sans', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: .8rem;
    color: rgba(61, 22, 0, 0.767) ;
}

.subcontainer-headline{
    font-size: 3rem;
    color: #fff;
}


// Contact text

.contact-headline{
    margin-top: 1.5em;
    font-weight: 800;
    width: 4em;
    padding: 0 0em 0 .3em;
}

.form-label{
    font-family: 'Fira Sans', sans-serif, Arial, Helvetica;
}

.form-input{
    font-family: 'Fira Sans', sans-serif, Arial, Helvetica;
}

.form-btn{
    font-family: 'Fira Sans', sans-serif, Arial, Helvetica;
}

.map-btn{
    font-family: 'Fira Sans', sans-serif, Arial, Helvetica;
}
// Desktop home page

@media screen and (min-width: 768px){
 
    .headline {
        font-size: 4rem;
        padding: 0 0em 0 .3em;
    }

    .subheadline{
        padding: 0 .8em 0 .8em;
        font-size: 1.2em;
        letter-spacing: .02em;
        line-height: 1.7em;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600;
        color: rgba(54, 54, 54, 0.781);
    }


    .subcontainer-paragraf{
        font-size: 1rem;
    }

}